<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<script src="https://unpkg.com/htmx.org@1.9.10"
		integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/styles.css" />
	<title>QMK Analyzer</title>
</head>

<body>
	{{ template "comp_session.html" .SessionID }}
	<div id="content">
		{{ template "comp_keymap_upload.html" . }}
		<p>or choose a premade keymap</p>
		{{ template "comp_select.html" .KeymapSelectOptions }}
	</div>
</body>

</html>
