<div class="visualizer" id="visualizer">
	{{ if . }}
	<form id="layerselect-form" hx-post="/layerselect"
		hx-include="#keyboardselect-form, #layoutselect-form, #keymapselect-form" hx-target="#visualizer"
		hx-swap="outerHTML" hx-trigger="change">
		Layer {{.CurrentLayer}}
		{{ range .Layers }}
		<input type="radio" name="layer" value="{{.}}" {{ if eq . $.CurrentLayer}}checked{{end}}>
		{{ end }}
	</form>
	<div class="keyboard-container" style="width: {{.Width}}px; height: {{.Height}}px;">
		{{ range .Keys }}
		<div class="key-container" style="top: {{.Y}}px; left: {{.X}}px; width: {{.W}}px; height: {{.H}}px;">
			<div class="key">
				{{if .Keycap.Shift}}<p style="font-size: {{.Keycap.MainSize}}px;">{{.Keycap.Shift}}</p>{{end}}
				<p style="font-size: {{.Keycap.MainSize}}px;">{{.Keycap.Main}}</p>
			</div>
			{{if .Keycap.Hold }}
			<p style="font-size: {{.Keycap.ModifierSize}}px;"> {{.Keycap.Hold}} </p>
			{{end}}
		</div>
		{{ end }}
	</div>
	{{ end }}
</div>
