<form id="{{.Name}}-form" hx-post="/{{.Name}}" hx-target="#{{.SwapTarget}}" hx-swap="innerHTML"
	hx-trigger="{{.Trigger}}" {{if .Include}}hx-include="{{.Include}}" {{end}}>
	<label for="{{.Name}}">{{.Label}}</label>
	<select name="{{.Name}}">
		{{ range .Options }}
		{{ if eq $.Selected .ID }}
		<option selected="selected" value="{{.ID}}">{{.Name}}</option>
		{{ else }}
		<option value="{{.ID}}">{{.Name}}</option>
		{{ end }}
		{{ end }}
	</select>
	<button type="submit">Submit</button>
</form>
