<div style="display: flex; justify-content: space-evenly;">
	<div style="display: flex; flex-direction: column;">
		<p class="finger1">1 - Left Pinky</p>
		<p class="finger2">2 - Left Ring Finger</p>
		<p class="finger3">3 - Left Middle Finger</p>
		<p class="finger4">4 - Left Pointer Finger</p>
		<p class="finger5">5 - Left Thumb</p>
	</div>
	<div style="display: flex; flex-direction: column;">
		<p class="finger6">6 - Right Pinky</p>
		<p class="finger7">7 - Right Ring Finger</p>
		<p class="finger8">8 - Right Middle Finger</p>
		<p class="finger9">9 - Right Pointer Finger</p>
		<p class="finger10">10 - Right Thumb</p>
	</div>
</div>
