body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header,
.content {
	display: flex;
}

header>h1 {
	flex-grow: 1;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 60%;
}

.keyboard-container {
	position: relative;
	background-color: lightgray;
	border-radius: 10px;
}

.key-container {
	position: absolute;
}

.key-container>p {
	color: white;
	position: absolute;
	top: -12px;
	left: 4px;
	text-decoration: underline;
}

.key {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	height: calc(100% - 4px);
	width: calc(100% - 4px);
	position: absolute;
	top: 2px;
	left: 2px;
	box-shadow: 0 -1px 0 3px inset #0000001a, 0 0 0 1px #0000004d;
}

.key>p {
	margin: -3px;
	text-align: center;
}

.finger0 {
	background-color: gray;
}

.finger1 {
	background-color: #948ae2;
}

.finger2 {
	background-color: #9c64de;
}

.finger3 {
	background-color: #b269bc;
}

.finger4 {
	background-color: #c96998;
}

.finger5 {
	background-color: #df6470;
}

.finger6 {
	background-color: #da8b6b;
}

.finger7 {
	background-color: #ccb269;
}

.finger8 {
	background-color: #b5d665;
}

.finger9 {
	background-color: #87b1e0;
}

.finger10 {
	background-color: #6fd6dc;
}

.fingerinput {
	width: 16px;
	text-align: center;
}

#analysis {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.analysis-section {
	border-radius: 10px;
	padding: 15px 30px;
	width: 100%;
	margin-bottom: 30px;
	background-color: lightgray;
}

h3 {
	margin-top: 0px;
}
